package main

// DBDriver - database driver type
const DBDriver = `mysql`

// DBHost - database host
// const DBHost = `unix(/var/run/mysql/mysql.sock)`
const DBHost = `tcp(localhost:3306)`

// DBUser - database user name
const DBUser = `UserName`

// DBPass - database user pass
const DBPass = `DBPass`

// DBSchema - database schema
const DBSchema = `DBSchema`


// RedisCache address
const RedisAddress = `localhost:6379`

// RedisDBNumber 0-9
const RedisDBNumber = 1

// RedisAuthPass redis auth password
const RedisAuthPass = ``


