/* simulation screen specific */
.card.panel .panel-details .section-title .title {
}
.card.panel .panel-details .section-title .subtitle {
    font-size: var(--font-size-2);
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.card.panel .panel-details .section-content {
    margin-top: var(--padding-5);
    margin-bottom: var(--padding-2);
}

.card.panel .panel-details .section-controls {
    border-top: 1px solid #f2f2f2;
}
.card.panel .panel-details .section-controls .col {
    padding: 0px;
}

.card.panel .panel-details .section-controls button.btn {
    min-width: 10vw;
    font-size: var(--font-size-1);
    font-weight: 700;
    border: 2px solid #979797;
    border-radius: 8px;

    margin-top: var(--padding-2);
    margin-left: var(--padding-1);
    height: var(--padding-3);
}

.card.panel table.simulate-table .query-control i.fa-chevron-down {
    padding-top: 6px;
}
.card.panel table.table.simulate-table thead {
    border-top: none;
    background: transparent;
}

.card.panel table.table.simulate-table thead th {
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: left;
    background-color: transparent;
    border: none;
}


.card.panel table.table.simulate-table tbody th,
.card.panel table.table.simulate-table tbody td {
    vertical-align: middle;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 1vw;
    padding-right: 1vw;
    margin: 0px;
}
.card.panel table.table.simulate-table tbody th {
    text-align: left;
    font-weight: 300;
    font-size: var(--font-size-0);
}
.card.panel table.table.simulate-table tbody td {
    text-align: center;
}

.card.panel table.table.simulate-table .button-group {
    margin: 0px;
}
.card.panel table.table.simulate-table .query-btn {
    width: 80%;
    background-color: transparent;
    padding: 0px;
    padding-top: 4px;
    padding-bottom: 7px;
}
.card.panel table.table.simulate-table .query-btn .label-text {
    width: 100%;
    font-weight: 300;
}

.card.panel .section-result .section-result-title {
    margin-top: -2.5rem;
}

.card.panel .section-result .simulate-option {
    display: block;
    margin-top: 1.5em;
    margin-bottom: 1.0em;
    font-weight: 300;
}

.card.panel .section-result table.simulate-result-table thead th {
    text-align: left;
    text-transform: none;
    text-indent: 1.0em;

    background-color: #d8d8d8;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
}
.card.panel .section-result table.simulate-result-table tbody {
    border-bottom: 1px solid #979797;
}

.card.panel .section-result table.simulate-result-table th,
.card.panel .section-result table.simulate-result-table td {
    min-width: 9vw;
    border-left: 1px solid #979797;
    border-right: 1px solid #979797;
}
.card.panel .section-result table.simulate-result-table th:first-child,
.card.panel .section-result table.simulate-result-table td:first-child {
    border-left: none;
}
.card.panel .section-result table.simulate-result-table th:last-child,
.card.panel .section-result table.simulate-result-table td:last-child {
    border-right: none;
}