/* query-control: dropbtn and others */
.query-control {
    margin: 20px;
    margin-left: 0px;
}
.query-control .query-btn {
    background-color: #fff;
    display: flex;
    min-width: 5vw;
    max-width: 280px;
    align-items: center;
}
.query-control .label-text {
    padding-left: 12px;
    padding-right: 24px;
    text-align: left;

    width: 100%;
    max-width: 12.5vw;
    line-break: unset;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
}
.query-control .label-text b {
    font-weight: 700;
}
.query-control i.fa-chevron-down {
    padding-top: 26px;
}

.query-control.top-control {
    margin: 20px;
    margin-left: 0px;
    border-radius: 0;
    background-color: var(--bg-white);

    border: 1px solid var(--font-light);
    color: var(--font-light);
}
.query-control.top-control button {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.query-control.top-control i.fa-chevron-down {
    padding-top: 8px;
}

/* categorybar */
.categorybar {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.categorybar .categorybar-wrapper {
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.categorybar .categorybar-wrapper .wrapper-title  {
    font-size: var(--font-size-2);
    font-weight: 700;
    border-bottom: 2px solid var(--data-grey);
    padding-top: var(--padding-0);
    padding-bottom: var(--padding-0);
}
.categorybar .categorybar-wrapper .categorybar-subwrapper  {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    
}
.categorybar .categorybar-subwrapper .control-title {
    font-size: var(--font-size-0);
}
.categorybar .query-control i.fa-chevron-down,
.categorytable .query-control i.fa-chevron-down {
    padding-top: 4px;
}

.categorybar .query-control .query-btn {
    width: 8.5vw;
    font-size: var(--font-size--1);
    border-radius: 6px;
    border: 2px solid var(--data-grey); 
}

.categorybar .label-text {
    width: 100%;
    padding-left: 4px;
}


/* category dialog */
.modal .query-control {
    border-radius: 2px;
    border: 1px solid var(--bg-dark);
    box-shadow: none;
}

.modal .query-control i.fa-chevron-down {
    padding: 0px;
    padding-top: 8px;
}

/* component preview */
.creative-preview {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-size: fill;
    background-repeat: no-repeat;
    max-height: 150px;
    height: 20vh;
    width: 90%;

}

.creative-preview.background-blank {background-image: url(/preview/background_blank.png)}
.creative-preview.background-solid_light {background-image: url(/preview/background_solid_light.png)}
.creative-preview.background-solid_dark {background-image: url(/preview/background_solid_dark.png)}
.creative-preview.background-split {background-image: url(/preview/background_split.png)}
.creative-preview.background-image {background-image: url(/preview/background_image.png)}

.class-design {
    color: var(--font-normal);
}
.class-message {
    color: var(--font-dark);
}