/* component preview */
.creative-preview {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-size: fill;
    background-repeat: no-repeat;
    max-height: 150px;
    height: 20vh;
    width: 90%;

}

.creative-preview.background-blank {background-image: url(/preview/background_blank.png)}
.creative-preview.background-solid_light {background-image: url(/preview/background_solid_light.png)}
.creative-preview.background-solid_dark {background-image: url(/preview/background_solid_dark.png)}
.creative-preview.background-split {background-image: url(/preview/background_split.png)}
.creative-preview.background-image {background-image: url(/preview/background_image.png)}
