
/* sidebar */
.sidebar {
    /* width: var(--sidebar-width); */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--font-white);
    font-size: var(--font-size-3);
    font-weight: 500;
  }
  .sidebar .sidebar-inner {
    width: calc(var(--sidebar-width) - var(--padding-0));
    overflow: hidden;
  }
  .sidebar .sidebar-inner>ul {
    width: calc(var(--sidebar-width) - var(--padding-0));
    padding-left: var(--padding-0);
    position: fixed;
  }
  .sidebar .sidebar-item {
    margin-top: var(--padding-3);
    display: block;
    color: var(--font-light);
    cursor: pointer;
    font-size: var(--font-size-3);
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    font-weight: bold;
  }
  .sidebar img.logo {
    margin: 0px;
    padding: 0px;
    width: var(--sidebar-width);
  }
  .sidebar .sidebar-item.active {
    color: var(--font-white);
    font-weight: border;
    font-size: calc(var(--font-size-3) + 1px);
    border-bottom: 3px solid #fff;
  }
  .sidebar .sidebar-item:nth-child(1) {
    margin-bottom: 10vh;
  }
  .sidebar .sidebar-holder {
    width: 20px;
    height: 100%;
    justify-content: center;
    align-self: center;
    font-size: var(--font-size-1);
    color: var(--font-white);
  }
  .sidebar .sidebar-holder i {
    color: var(--font-white);
    position: fixed;
    top: 50%;
  }
  