*,body {
  margin: 0;
  padding: 0;

  background-color: transparent;
  color: #333;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;

  --bg-dark: #262626;
  --bg-light: #F2F2F2;
  --bg-select: #DEEBF7;

  --data-grey: #D9D9D9;
  --data-primary: #20ADE3;
  --data-secondary: #002060;
  --data-dark: #1F4E79;
  --data-light: #9DC3E6;

  --font-normal: #262626;
  --font-dark: #002060;
  --font-light: #595959;
  --font-white: #eeeeee;
}

.wrap-container>div {
  padding-top: 60;
}

.background-light {
  color: var(--font-normal);
  background-color: var(--bg-light);
  
  font-size: 0.5em;
}

.background-dark {
  color: var(--font-white);
  background-color: var(--bg-dark);
}

.query-control {
  margin: 20px;
  margin-left: 0px;
}

.kpi-control {
  margin: 20px;
  margin-left: 0px;
  border-radius: 0;
}

.query-control .query-btn {
  background-color: #fff;
  display: flex;
  min-width: 5vw;
  align-items: flex-start;
}

.query-control .label-text,.kpi-control .label-text {
  padding-left: 24px;
  padding-right: 36px;
  text-align: left;
}
.query-control .label-icon {
  align-items: center;
}
.query-control .label-icon {
  font-size: 1.75em;
}
.kpi-control i.fa-chevron-down {
  padding-top: 8px;
}
.query-control i.fa-chevron-down {
  padding-top: 26px;
}

.categorybar,.categorybar .categorybar-subwrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
.categorybar .row {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.categorybar h3 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.5em;
  border-bottom: 1px solid var(--data-grey);
}
.categorybar h5 {
  font-size: 1.0em;
  font-weight: 900;
  line-height: 1.25em;
  display: block;
  margin: 0px;
}
.categorybar .copy div,h3 {
  color: var(--font-dark);
}
.categorybar .design {
  color: var(--font-normal);
}
.categorybar .query-control i.fa-chevron-down {
  padding-top: 4px;
}

.categorybar .query-control .query-btn {
  width: 100%;
  font-size: 1.0em;
  border-radius: 6px;
  border: 2px solid var(--data-grey); 
}
.categorybar .label-text {
  width: 100%;
  padding-left: 4px;
}

.sidebar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--font-white);
}

.sidebar {
  display: flex;
  flex-direction: row;
  font-size: 14pt;
  font-weight: 500;
}

.sidebar ul {
  min-width: 300px;
}

.sidebar .sidebar-item {
  display: block;
  color: #fff;
  line-height: 2.5em;
  cursor: pointer;
}

.sidebar .sidebar-item.active {
  font-size: 18pt;
  font-weight: 700;
  border-bottom: 4px var(--font-white) solid;
}

.sidebar .sidebar-item:nth-child(1) {
  margin-bottom: 10vh;
}

.sidebar .sidebar-holder {
  width: 16px;
  height: '100%';
  align-self: center;
  font-size: 16pt;
}

.sidebar .sidebar-holder i {
  color: var(--font-white);
  position: fixed;
  top: 50%;
}

div.card.panel {
  border-top: none;
  border-left: none;
  border-radius: 8px;

  width: 100%;
  padding-top: 5vw;
  padding-bottom: 5vw;
  padding-left: 10vw;
  padding-right: 10vw;

  text-align: center;
}

.panel-wrapper {
  margin: 16px;
  padding: 16px;
  width: 100%;
}

div.card.panel .row {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 32px;
}

div.card.panel h3.panel-title {
  font-size: 0.5em;
  font-weight: 700;
  border-bottom: 1.5px solid var(--font-dark);
}

div.card.panel h1.panel-title {
  font-size: 3.5em;
  font-weight: 700;
  text-align: left;
}
div.card.panel .panel-subtitle{
  text-align: left;
}

div.card.panel .section-title  {
  font-weight: 700;
  padding: 20px;
  padding-bottom: 8px;
}
div.card.panel .section-text {
  font-size: 1.0em;
  font-weight: 300;
  color: var(--font-light);
}

div.panel-details {
  text-align: left;
}

div.panel-details h3 {
  font-weight: 700;
  line-height: 3.0em;
  border-bottom: 1px solid var(--data-grey);

}

div.panel-category-detail {
  margin-top: 12px;
  margin-bottom: 24px;
}

div.panel-category-detail thead th {
  font-size: 1.25em;
  font-weight: 500;
  background-color: var(--bg-light);
}

div.panel-category-detail thead th:nth-child(1) {
  font-weight: 700;
}

div.panel-category-detail tbody td {
  font-size: 1.25em;
}

div.panel-category-detail tbody td:nth-child(n+4) {
  background-color: #9DC3E6,
}

div.panel-category-detail h5 {
  font-weight: 700;
  line-height: 2.5em;
}

div.card.panel .creative-chart-link {
  font-size: 1.5em;
  text-align: right;
  line-height: 1.5em;
}
.plot-container {
  border: 1px solid var(--bg-light);
  border-radius: 2px;
  margin: 4px;
}
.plot-container .svg-container {
  width: 100%;
}