*,body {
  margin: 0;
  padding: 0;

  background-color: transparent;
  color: #333;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;

  --bg-dark: #262626;
  --bg-light: #F2F2F2;
  --bg-select: #DEEBF7;

  --data-grey: #D9D9D9;
  --data-primary: #20ADE3;
  --data-secondary: #002060;
  --data-dark: #1F4E79;
  --data-light: #9DC3E6;

  --font-normal: #262626;
  --font-dark: #002060;
  --font-light: #595959;
  --font-white: #eeeeee;
}

.wrap-container{
  min-width: 90vw;
  min-height: calc(100vh - 56px);
}

.wrap-container>div {
  padding-top: 60;
}

.background-light {
  color: var(--font-normal);
  background-color: var(--bg-light);
  
  font-size: 0.5em;
}

.background-dark {
  color: var(--font-white);
  background-color: var(--bg-dark);
}
